.pai {
    border: 5px solid;
 width: 98%;
 height: 500px ;
 display: flex ;
 justify-content: space-evenly;
 align-items: center;
 flex-direction: column;
}
.filho{
    background-color: blue;
    width: 100px;
    height: 100px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
}
.amarela{
    background-color: yellow;
    color: black;
    order: 2;
}
.rosa{
    background-color: pink;
}
.laranja {
    background-color: orange;
}
